@import "../../../scss/app.scss";
.row {
  /* Other */
  // max-width: 960px;
  margin: 0 auto;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: 10px;
      color: white;
    }
  }

  .col-1-of-1 {
    width: 100%;
    background-color: #b52188;
    min-height: 50px;
    color: white;
  }

  .col-1-of-2 {
    width: calc((100% - #{10px}) / 2);
    background-color: #a31e7a;
    min-height: 50px;
    color: white;
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{10px}) / 3);
    min-height: 50px;
    background-color: #bc3794;
    color: white;
  }

  .col-2-of-3 {
    // width: calc((100% - #{10px}) / 3 * 2);
    width: calc((100% - (2 * #{10px})) / 3 * 2 + #{10px});
    min-height: 50px;
    background-color: #e73358;
    color: white;
  }

  .col-2-of-4 {
    width: calc((100% - #{10px}) / 2);
    min-height: 50px;
    background-color: #e73358;
    color: white;
  }

  .col-3-of-4 {
    width: calc((100% - #{10px} - (100% - 3 * #{10px}) / 4));
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{10px}) / 4);
    min-height: 50px;
    // background-color: #d02e4f;
    color: white;
  }

  .col-1-of-6 {
    width: calc((100% - 5 * #{10px}) / 6);
    min-height: 50px;
    // background-color: #e14e29;
    color: white;
  }

  .col-4-of-6 {
    width: calc((100% - 2 * #{10px}) - (2 * (100% - 5 * #{10px}) / 6));
    // min-height: 50px;
    // background-color: #e14e29;
    color: white;
  }

  .col-1-of-12 {
    width: calc((100% - 11 * #{10px}) / 12);
    min-height: 50px;
    background-color: #1a5185;
    color: white;
  }
}
