@import "../../../scss/app.scss";

.button {
  font-size: 1.4rem;
  font-family: OpenSansRegular;
  @include m-border-radius-xs;
  transition: $transition-fastest;

  &Primary {
    color: $soft-neutral-color-0;
    padding: 1rem 3rem;
    border: $v-border-xs solid transparent;
    background-color: $primary-color-regular;

    &:disabled {
      // color: red;
    }

    &:hover {
      background-color: $primary-color-dark;
    }
  }

  &Secondary {
    border: $v-border-xs solid $primary-color-regular;
    padding: 1rem 3rem;

    &:hover,
    &:active {
      background-color: $secondary-color-regular;
      color: $soft-neutral-color-0;
      border: $v-border-xs solid $secondary-color-regular;
    }
    &:disabled {
      // color: red;
    }
  }

  &Tertiary {
    &:hover,
    &:active {
      color: $primary-color-dark;
      font-weight: 700;
    }
    &:disabled {
      // color: red;
    }
  }
}
