@import "../../../scss/app.scss";

.button {
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-family: OpenSansRegular;
  @include m-border-radius-xs;
  transition: $transition-fastest;

  &__button--primary {
    background-color: $primary-color;
    color: $soft-neutral-color-0;
    border: $v-border-xs solid transparent;

    &:hover {
      background-color: $primary-color-dark;
    }
  }

  &__button-secondary {
    border: $v-border-xs solid $primary-color;

    &:hover,
    &:active {
      background-color: $secondary-color;
      color: $soft-neutral-color-0;
      border: $v-border-xs solid $secondary-color;
    }
  }
}
