/**
 * Helper mixins
*/

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin m-border-radius-xs {
  border-radius: 0.2rem;
}

// Media queries

// Text selection

//Placeholders
//Usage:
//@include placeholder;
