.u-background-color {
  &-primary-color-regular {
    background-color: $primary-color-regular;

    &-primary-color-regular {
      background-color: $primary-color-regular;

      &:hover {
        background-color: $primary-color-dark;
      }
    }
  }

  &-secondary-color-regular {
    background-color: $secondary-color-regular;

    &:hover {
      background-color: $secondary-color-dark;
    }
  }

  &-tertiary-color-regular {
    background-color: $tertiary-color-regular;

    &:hover {
      background-color: $tertiary-color-dark;
    }
  }

  &-transparent {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
    &-tertiary-color-regular {
      background-color: transparent;

      &:hover {
        background-color: $tertiary-color-regular;
      }
    }
  }
}

.u-border-color {
  &-primary-color-regular {
    border: $v-border-xs solid $primary-color-regular;

    &:hover {
      border: $v-border-xs solid $primary-color-dark;
    }
  }
  &-secondary-color-regular {
    border: $v-border-xs solid $secondary-color-regular;

    &:hover {
      border: $v-border-xs solid $secondary-color-dark;
    }
  }
  &-tertiary-color-regular {
    border: $v-border-xs solid $tertiary-color-regular;

    &:hover {
      border: $v-border-xs solid $tertiary-color-dark;
    }
  }
}

/* Typography */

.u-text-align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

/* Heights */

.u-height {
  &__xxs {
    height: $heigth-xxs;
  }

  &__xs {
    height: $heigth-xs;
  }
  &__sm {
    height: $heigth-sm;
  }
  &__md {
    height: $heigth-md;
  }
  &__lg {
    height: $heigth-lg;
  }
  &__xl {
    height: $heigth-xl;
  }
  &__xxl {
    height: $heigth-xxl;
  }
}

.u-min-height {
  &__xxs {
    min-height: $heigth-xxs;
  }

  &__xs {
    min-height: $heigth-xs;
  }
  &__sm {
    min-height: $heigth-sm;
  }
  &__md {
    min-height: $heigth-md;
  }
  &__lg {
    min-height: $heigth-lg;
  }
  &__xl {
    min-height: $heigth-xl;
  }
  &__xxl {
    min-height: $heigth-xxl;
  }
}

.u-font-color {
  &-primary-color {
    &-regular {
      color: $primary-color-regular;
      &:hover {
        color: $primary-color-regular;
      }
    }
  }
  &-secondary-color {
    &-regular {
      color: $secondary-color-regular;
      &:hover {
        color: $secondary-color-regular;
      }
    }
  }
  &-tertiary-color {
    &-regular {
      color: $tertiary-color-regular;
      &:hover {
        color: $tertiary-color-regular;
      }
    }
  }
  &-soft-neutral-color {
    &-0 {
      color: $soft-neutral-color-0;
      &:hover {
        color: $soft-neutral-color-0;
      }
    }
    &-900 {
      color: $soft-neutral-color-900;
      &:hover {
        color: $soft-neutral-color-900;
      }
    }
  }
}

.u-font-size {
  &-xxs {
    font-size: $font-size-xxs;
  }
  &-xs {
    font-size: $font-size-xs;
  }
  &-sm {
    font-size: $font-size-sm;
  }
  &-md {
    font-size: $font-size-md;
  }
  &-lg {
    font-size: $font-size-lg;
  }
  &-xl {
    font-size: $font-size-xl;
  }
  &-xxl {
    font-size: $font-size-xxl;
  }
}

.u-font-weight {
  &-light {
    font-family: $font-weight-light;
  }

  &-regular {
    font-family: $font-weight-regular;
  }

  &-bold {
    font-family: $font-weight-bold;
  }
}

// Use sizes: xs, sm, md, lg

.u-center-text {
  text-align: center;
}

.u-padding-top {
  &-xs {
    padding-top: 1rem;
  }

  &-sm {
    padding-top: 10rem;
  }
}

.u-margin-top {
  &-xs {
    margin-top: 1rem;
  }

  &-sm {
    margin-top: 2rem;
  }
}

.u-margin-right {
  &-xs {
    margin-right: 1rem;
  }

  &-sm {
    margin-right: 2rem;
  }
}

.u-margin-bottom {
  &-xs {
    margin-bottom: 1rem;
  }

  &-sm {
    margin-bottom: 2rem;
  }

  &-lg {
    margin-bottom: 4rem;
  }
}

.u-max-width {
  &-xs {
    max-width: $breakpoint-xs;
  }

  &-sm {
    max-width: $breakpoint-sm;
  }

  &-md {
    max-width: $breakpoint-md;
  }

  &-lg {
    max-width: $breakpoint-lg;
  }

  &-xl {
    max-width: $breakpoint-xl;
  }
}
