.u-background-color {
  &__primary-color-regular {
    background-color: $primary-color;
  }
}

/* Heights */

.u-height {
  &__xxs {
    height: $heigth-xxs;
  }

  &__xs {
    height: $heigth-xs;
  }
  &__sm {
    height: $heigth-sm;
  }
  &__md {
    height: $heigth-md;
  }
  &__lg {
    height: $heigth-lg;
  }
  &__xl {
    height: $heigth-xl;
  }
  &__xxl {
    height: $heigth-xxl;
  }
}

// Use sizes: xs, sm, md, lg

.u-center-text {
  text-align: center;
}

.u-padding-top {
  &-xs {
    padding-top: 1rem;
  }

  &-sm {
    padding-top: 10rem;
  }
}

.u-margin-top {
  &-xs {
    margin-top: 1rem;
  }

  &-sm {
    margin-top: 2rem;
  }
}

.u-margin-right {
  &-xs {
    margin-right: 1rem;
  }

  &-sm {
    margin-right: 2rem;
  }
}

.u-margin-bottom {
  &-xs {
    margin-bottom: 1rem;
  }

  &-sm {
    margin-bottom: 2rem;
  }
}
