/**
 * Variables
*/

/* Typography */
/* Breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Paths */
/* Grid setup */

/* Main colors */
$primary-color: #102f3f;
$secondary-color: #335566;
$tertiary-color: #8fafbf;

/* Main colors light*/
$primary-color-light: #1b333f;
$secondary-color-light: #435a66;
$tertiary-color-light: #9db2bd;

/* Main colors dark */
$primary-color-dark: #001e2c;
$secondary-color-dark: #225269;
$tertiary-color-dark: #6c9db6;

/* Soft neutral colors */
$soft-neutral-color-0: #ffffff;
$soft-neutral-color-50: #f0f1f2;
$soft-neutral-color-100: #e0e3e5;
$soft-neutral-color-200: #c6cacc;
$soft-neutral-color-400: #919699;
$soft-neutral-color-700: #464a4c;
$soft-neutral-color-800: #222425;
$soft-neutral-color-900: #101112;

/* Components */

/* Transitions */
/* fast, faster, fastest*/
$transition-faster: all 0.4s ease-in-out;
$transition-fastest: all 0.2s ease-in-out;

$v-border-xs: 0.1rem;
