/**
 * Variables
*/

/* Typography */
$font-weight-light: "OpenSansLight";
$font-weight-regular: "OpenSansRegular";
$font-weight-bold: "OpenSansBold";

$font-size-xxs: 1rem;
$font-size-xs: 1.4rem;
$font-size-sm: 1.6rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.4rem;
$font-size-xl: 3rem;
$font-size-xxl: 3.6rem;
$font-size-xxxl: 5rem;

/* Breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Paths */
/* Grid setup */

/* Main colors */
$primary-color-regular: #24285b;
$primary-color-light: lighten($primary-color-regular, 5%);
$primary-color-lighter: lighten($primary-color-regular, 10%);
$primary-color-lightest: lighten($primary-color-regular, 60%);
$primary-color-dark: darken($primary-color-regular, 5%);
$primary-color-darker: darken($primary-color-regular, 10%);
$primary-color-darkest: darken($primary-color-regular, 20%);

$secondary-color-regular: #60cfe9;
$secondary-color-light: lighten($secondary-color-regular, 5%);
$secondary-color-lighter: lighten($secondary-color-regular, 10%);
$secondary-color-lightest: lighten($secondary-color-regular, 60%);
$secondary-color-dark: darken($secondary-color-regular, 5%);
$secondary-color-darker: darken($secondary-color-regular, 10%);
$secondary-color-darkest: darken($secondary-color-regular, 20%);

$tertiary-color-regular: #ff9700;
$tertiary-color-light: lighten($tertiary-color-regular, 5%);
$tertiary-color-lighter: lighten($tertiary-color-regular, 10%);
$tertiary-color-lightest: lighten($tertiary-color-regular, 60%);
$tertiary-color-dark: darken($tertiary-color-regular, 5%);
$tertiary-color-darker: darken($tertiary-color-regular, 10%);
$tertiary-color-darkest: darken($tertiary-color-regular, 20%);

/* Soft neutral colors */
$soft-neutral-color-0: #ffffff;
$soft-neutral-color-50: #f0f1f2;
$soft-neutral-color-100: #e0e3e5;
$soft-neutral-color-200: #c6cacc;
$soft-neutral-color-400: #919699;
$soft-neutral-color-700: #464a4c;
$soft-neutral-color-800: #222425;
$soft-neutral-color-900: #101112;

/* Dev colors */

$section-color-regular: #e538a0;
$section-color-lightest: #f5afd9;
$container-color-regular: #e58138;
$container-color-lightest: #f5cdaf;
$row-color-regular: #0da500;
$row-color-lightest: #9edb99;
$columnt-color-regular: #8638e5;
$columnt-color-lightest: #dbc3f7;

/* Components */

/* Sizes */
$heigth-xxs: 1rem;
$heigth-xs: 2rem;
$heigth-sm: 4rem;
$heigth-md: 6rem;
$heigth-lg: 8rem;
$heigth-xl: 10rem;
$heigth-xxl: 12rem;

/* Transitions */
/* fast, faster, fastest*/
$transition-faster: all 0.4s ease-in-out;
$transition-fastest: all 0.2s ease-in-out;

$v-border-xxs: 0.1rem;
$v-border-xs: 0.2rem;
$v-border-sm: 0.5rem;
$v-border-md: 1rem;
