/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;
$color-grey-light-1: #f7f7f7;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #1f56ec;

/* Components */

/* colors */

$color-light-red: #3967e4;
$color-medium-red: #1431b1;
$color-dark-red: #1a2072;

/* Transitions */
/* fast, faster, fastest*/
$transition-faster: all 0.4s ease-in-out;
