@import "../../../scss/app.scss";
.text-field {
  position: relative;

  &__input {
    padding: 1rem;
    background-color: $primary-color-regular;

    border: 1px solid $tertiary-color-regular;
    border-radius: $v-border-xs;
    outline: none;
    width: 40rem;
    color: $soft-neutral-color-0;
  }

  &__span {
    position: absolute;
    left: 0;
    text-transform: uppercase;
    color: $soft-neutral-color-0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s;

    &--alert {
      color: $soft-neutral-color-0;
      font-size: 1.4rem;
    }
  }

  input:focus ~ span,
  input:not(:placeholder-shown) ~ span {
    color: $tertiary-color-regular;
    transform: translateX(0.8rem) translateY(-1rem);
    font-size: 1.2rem;
    background-color: $primary-color-regular;
    border-left: 0.1rem solid $tertiary-color-regular;
    border-right: 0.1rem solid $tertiary-color-regular;
    padding: 0 1rem;
  }
}
