@import "../../../scss/app.scss";

.app-container {
  background-color: #24292f;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */

  position: relative;

  &__nav {
    width: 25rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10rem;

    &__link {
      color: white;
      margin: 0.5rem;
      display: block;
      text-align: right;
      font-family: "OpenSansLight";

      &:hover {
        color: #959595;
      }

      &__span {
        color: #959595;
      }
    }
  }
}
