@import "../../../../../scss/app.scss";

.section {
  // background-color: $section-color-lightest;
  // border: $section-color-regular 1px dashed;
  box-sizing: border-box;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
