@import "../../../scss/app.scss";

.nav {
  &__nav-item {
    float: right;

    &:hover,
    &:active {
      background-color: $primary-color-light;
    }

    &__nav-item-link {
      display: block;
      color: $soft-neutral-color-0;
      text-align: center;
      padding: 1rem;

      &:hover,
      &:active {
        color: $soft-neutral-color-0;
      }
    }
  }
}
