@import "../../../scss/app.scss";

.nav {
  top: 50%;
  right: 17%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  /* Styles */

  &__nav-item {
    float: left;

    :hover,
    :active {
      background-color: $secondary-color-light;
    }

    &__nav-item-link {
      display: block;
      color: $soft-neutral-color-0;
      text-align: center;
      padding: 16px;
    }
  }
}
